$cor-primaria: #06121e;
$cor-primaria-escura: #040f1a;
$cor-primaria-clara:#0c2135;

$cor-secundaria: #090d11;
$cor-secundaria-escura: #06090c;
$cor-secundaria-clara:#1a1f25;

$cor-preto: #232224;
$cor-preto-escuro: #161617;
$cor-preto-claro:#353436;

$cor-branco: #fff;
$cor-branco-escuro: #edeaef;
$cor-branco-claro:#fefbff;

$cor-vermelho: #d94140;
$cor-vermelho-escuro: #b42b2b;
$cor-vermelho-claro:#d34040;

